[Unit]
Description=webterm
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=a
ExecStart=/home/a/bin/webterm

[Install]
WantedBy=multi-user.target
